*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

html{
    font-size: 16px;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.search-block{
    border: 1px solid #D9DDE7;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: 1.4rem;
    justify-content: space-between;
    
    
}

.search-block input{
    border: none;
    outline: none;
    min-width: 190px;

}

nav .logo-section{
    display: flex;
    align-items: center;
}

nav ul{
    display: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: whitesmoke;
    list-style: none;
    margin-top: 1rem;
}

nav ul.show{
    display: block;
}

nav ul li{
    padding-bottom: 1rem;
}

nav ul li:last-child{
    padding-bottom: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
}


/* Home  */

.home{
    background: rgba(0, 0, 0, 0.67) url('../img/mobile-img.png');
    background-blend-mode: darken;
    height: calc(100vh - 67px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home__text-block{
    width: 90%;
    margin: auto;
}

.home-emoji{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__text-block h1{
    font-size: 2rem;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
}

.search-block.search-block-hero{
    margin-left: 0;
    width: 70%;
    
    
}

.search-block.search-block-hero input{
    background: transparent;
    color: #fff;
}

.search-block.search-block-hero ::placeholder{
    color:lightgray;
}

.hero__btn-block{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home__text-block .btn{
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    color: #fff;
}


.home__text-block .btn-success{
    background-color: #25DF8F;
    
}

.home__text-block .btn-secondary{
    background-color:#C1C8D7 ;
}



/* Aparments  */
section{
    padding:2rem 0;
    
}

.section__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.section__heading h2{
    font-size: 1.2rem;
    font-weight: 400;
}
.section__heading h2 span{
    color: gray;
}

.section__heading a{
    text-decoration: none;
    color: black;
}

.apartments__list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

 .apparment-card img{
    width: 100%;    
}

.aparments-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 0.8rem;
    padding-top: 0.4rem;
}

.apartments-title{
    margin-top: 0.4rem;
}
.apartments-title a{
    margin-top: 0.5rem;
    text-decoration: none;
    color: black;
    line-height: 1.7;
}


.home__img-block{
    display: none;
}

footer{
    background: #333;
    color: #fff;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

@media(min-width:800px){
    nav{
        flex-wrap: nowrap;
    }
    nav .hamburger{
        display: none;
    }
    nav ul.nav-links{
        display: flex;
        width: auto;
        background: transparent;
        padding: 0;
        margin:0;
        align-items: center;
        
    }
    .home__text-block{
        margin-left: 5%;
    }

    nav ul.nav-links li{
        padding: 0;
        margin-left: 1.5rem;
    }

    .home__text-block h1{
        width: 500px;
    }
}

@media(min-width:992px){
    .apartments__list-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
    .home{
        background: #fff;
        height: auto;
    }
    .home__text-block{
        width: 45%;
    }
    .home__img-block{
        width: 55%;
        margin-left: 2rem;
    }

    .home__img-block img{
        height: 100%;
        width: 100%;
    }
    .home__text-block h1{
        width: 100%;
        color: black;
    }
    html{
        font-size: 18px;
    }
}



@media(min-width:1024px){
    .apartments__list-wrapper{
        grid-template-columns: repeat(4,1fr);
    }
    html{
        font-size: 20px;
    }

    .home__img-block {
        display: block;
    }
}